<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Student Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <app-create-profile></app-create-profile>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <body>


                    <div class="container-xl px-4 pt-4">
                        <div class="row">
                            <div class="col-xl-4">
                                <!-- Profile picture card-->
                                <div class="card sm-4 mb-xl-0">
                                    <div class="card-header">Profile Picture</div>
                                    <div class="card-body text-center">
                                        <!-- Profile picture image-->
                                        <img class="img-account-profile rounded-circle mb-1" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                        <!-- Profile picture help block-->
                                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                        <!-- Profile picture upload button-->
                                        <button class="btn btn-primary" type="button">Upload new image</button>
                                    </div>
                                </div> <br>
                                <div class="card sm-4 mb-xl-0">
                                    <div class="card-header">Fees Details :-</div>
                                    <div class="card-body  ">

                                        <div style="font-size: medium;" class="  mb-2">ID :</div>
                                        <div style="font-size: medium;" class="  mb-2">Fees Paid :</div>
                                        <div style="font-size: medium;" class="  mb-2">Pending Fees :</div>


                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-8">
                                <!-- Account details card-->
                                <div class="card mb-4">
                                    <div class="card-header">Profile Details</div>
                                    <div class="card-body">
                                        <form>

                                            <!-- Form Row-->
                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (first name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputFirstName">First name:{{userData.P_Name}}</label>
                                                    <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name">
                                                </div>
                                                <!-- Form Group (last name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                                    <input class="form-control" id="inputLastName" [(ngModel)]="userData[1]" type="text" placeholder="Enter your last name">
                                                </div>
                                            </div>
                                            <!-- Form Row        -->
                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (organization name)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputOrgName">Qualification</label>
                                                    <input class="form-control" id="inputOrgName" type="text" placeholder="Enter your qualification ">
                                                </div>
                                                <!-- Form Group (location)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputLocation">City</label>
                                                    <input class="form-control" id="inputLocation" type="text" placeholder="Enter your City">
                                                </div>
                                            </div>
                                            <!-- Form Group (email address)-->
                                            <div class="mb-3">
                                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                                <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address">
                                            </div>
                                            <!-- Form Row-->
                                            <div class="row gx-3 mb-3">
                                                <!-- Form Group (phone number)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputPhone">Mobile number</label>
                                                    <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your Mobile number">
                                                </div>
                                                <!-- Form Group (birthday)-->
                                                <div class="col-md-6">
                                                    <label class="small mb-1" for="inputBirthday">Birth Date</label>
                                                    <input class="form-control" id="inputBirthday" type="text" name="birthday" placeholder="Enter your birth date">
                                                </div>
                                            </div>
                                            <!-- Save changes button-->
                                            <button class="btn btn-primary float-right" type="button">Save changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </body>
            </div>

        </div>
    </div>
</div>


<!-- <h1><strong class="ml-4">Pre-Placement Campaign</strong></h1> -->
    <!-- <div class="row">  -->
        <div class="col-md-12 fw-bold fs-1 mt-4" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            Pre-Placement Campaign
        </div> 

<br>
<button type="button" class="btn btn-primary ml-4 mt-4" data-toggle="modal" data-target="#exampleModal">New Student</button>
<br><br>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">Email</th>
                <th scope="col">Pending Fees</th>
                <th scope="col">Paid Fees</th>
            </tr>
        </thead>
        <tbody>


            <tbody>
                <tr *ngFor="let user of userData;">

                    <a href="" data-toggle="modal" data-target="#exampleModal1">
                        <td><button (click)="getValue(user.P_Id)">{{user.P_Id}}</button></td>
                    </a>

                    <td>{{user.P_Name}}</td>
                    <td>{{user.P_Mobile}}</td>
                    <td>{{user.P_Email}}</td>
                    <td>{{user.P_PendingFees}}</td>
                    <td>{{user.P_PaidFees}}</td>
                </tr>
            </tbody>
    </table>
</div>