
a{
    text-decoration: none;
}
.btn{
    background:royalblue;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px inset rgba(255, 0, 0, 0.09)
}

.main1.span{
    margin-left: 5px;
}
.row button{
    display:inline-block;
}
.button1{
    width: 130px;
    margin-left: -10px;
}

#exampleModalLabel{
    font-size: 20px;
}


#id1{
    cursor: pointer;
}

.container{
    display: flex;
    margin: 20px;
    width:100%;
    justify-content: center;
}

