<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Student Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


























                <div *ngIf="errorMassage" class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{errorMassage}}</strong> You should check in on some of those fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>



                <form [formGroup]="studentForm" (ngSubmit)="userSubmit()">
                    <div class="col-lg-8 m-4">
                        <input class="form-control" formControlName="P_Id" type="text" placeholder="ID">
                        <div *ngIf="f['P_Id'].touched && f['P_Id'].invalid">
                            <div *ngIf="f['P_Id'].errors && f['P_Id'].errors['P_Id']"></div>


                            <div *ngIf="f['P_Id'].errors && f['P_Id'].errors['minlength']">ID should be 3 character.
                            </div>
                        </div>



                    </div>
                    <div class="col-lg-8 m-4">
                        <input class="form-control" formControlName="P_Name" type="text" placeholder="Name">

                        <div *ngIf="f['P_Name'].touched && f['P_Name'].invalid">
                            <div *ngIf="f['P_Name'].errors && f['P_Name'].errors['P_Name']"></div>


                            <div *ngIf="f['P_Name'].errors && f['P_Name'].errors">Name is required.</div>
                        </div>

                    </div>
                    <div class="col-lg-8 m-4">
                        <input class="form-control" formControlName="P_Email" type="email" placeholder="Email">

                        <div *ngIf="f['P_Email'].touched && f['P_Email'].invalid">
                            <div *ngIf="f['P_Email'].errors && f['P_Email'].errors['P_Email']"> </div>


                            <div *ngIf="f['P_Email'].errors && f['P_Email'].errors">Email ID is required.</div>
                        </div>

                    </div>
                    <div class="col-lg-8 m-4">
                        <input class="form-control" formControlName="P_Mobile" type="text" placeholder="Mobile">

                        <div *ngIf="f['P_Mobile'].touched && f['P_Mobile'].invalid">
                            <div *ngIf="f['P_Mobile'].errors && f['P_Mobile'].errors['P_Mobile']"></div>


                            <div *ngIf="f['P_Mobile'].errors && f['P_Mobile'].errors">Mobile Number is required.</div>
                        </div>

                    </div>
                    <div class="col-lg-8 m-4">
                        <input class="form-control" formControlName="P_PendingFees" type="text"
                            placeholder="Pending_fees">

                        <div *ngIf="f['P_PendingFees'].touched && f['P_PendingFees'].invalid">
                            <div *ngIf="f['P_PendingFees'].errors && f['P_PendingFees'].errors['P_Id']"></div>


                            <div *ngIf="f['P_PendingFees'].errors && f['P_PendingFees'].errors">Field is required.</div>
                        </div>

                    </div>
                    <div class="col-lg-8 m-4">
                        <input class="form-control" formControlName="P_PaidFees" type="text" placeholder="Paid_fees">

                        <div *ngIf="f['P_PaidFees'].touched && f['P_PaidFees'].invalid">
                            <div *ngIf="f['P_PaidFees'].errors && f['P_PaidFees'].errors['P_Id']"></div>


                            <div *ngIf="f['P_PaidFees'].errors && f['P_PaidFees'].errors">Field is required.</div>
                        </div>





                        <div class="card-body cards">
                            <div class="row">
                                <div class="col-lg-6">
                                    <span><i class="fa fa-user fa-5x" aria-hidden="true"></i></span>
                                    <p class="text">Choose your file to upload</p>
                                    <input type="file" id="file" (change)="onFileSelected($event)">






                                    <div *ngIf="f['P_Image'].touched && f['P_Image'].invalid">
                                        <div *ngIf="f['P_Image'].errors && f['P_Image'].errors['P_Image']"></div>


                                        <div *ngIf="f['P_Image'].errors && f['P_Image'].errors">Field is required.</div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 m-4">
                            <button (click)="onUpload()" class="btn btn-primary" type="submit">Upload</button>
                        </div>
                        <div class="col-lg-8 m-4">
                            <button (click)="alertSuccess()" class="btn btn-primary" type="submit">Create Stud</button>
                        </div>

                    </div>










                </form>

            </div>

        </div>
    </div>
</div>


<!-- <h1>
<strong class="ml-4">Internship</strong>
</h1> -->
<div class="col-md-12 fw-bold fs-1 mt-4"
    style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    Pre-Placement Campeign
</div>


<br>

<button type="button" class="btn btn-primary ml-4 mt-4" data-toggle="modal" data-target="#exampleModal">New
    Student</button>
<br><br>
<div class="table-responsive">
    <table class="table text-center table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">Email</th>
                <th scope="col">Pending Fees</th>
                <th scope="col">Paid Fees</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userAllData">

                <a href="" data-toggle="modal" data-target="#exampleModal1" style="text-decoration: none;">
                    <td scope="ID">{{user.P_Id}}</td>
                </a>
                <td scope="Name">{{user.P_Name}}</td>
                <td scope="Mobile No.">{{user.P_Mobile}}</td>
                <td scope="Email">{{user.P_Email}}</td>
                <td scope="Pending Fees">{{user.P_PendingFees}}</td>
                <td scope="Paid Fees">{{user.P_PaidFees}}</td>
            </tr>

        </tbody>
    </table>